
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<div>
    姓名：
    <input type="text" name="name" value="" />
</div>
<p></p>
<div>
    帳號：
    <input type="text" name="name" value="" />
</div>
<p></p>
<div>
    密碼：
    <input type="password" name="password" value="" />
</div>
<p></p>
<div>
    性別：
    <input type="radio" name="gender" value="A">男性
    <input type="radio" name="gender" value="B">女性
</div>
<p></p>
<div>
    興趣：
    <input type="checkbox" name="item" value="A">游泳
    <input type="checkbox" name="item" value="B">閱讀
    <input type="checkbox" name="item" value="C">看電影
</div>
<p></p>
<div>
    自我介紹：
    <textarea name="message" rows="5" cols="30"></textarea>
</div>