
@{
    ViewBag.Title = "HW3";
}

<h2>HW3</h2>

<p>@ViewBag.vita</p>
<p>@ViewData["Yee"]</p>

@{
    var name = "vita";
    var message = "您好" + name;
}

@{ 
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
    @foreach (var item in fruits)
    {

        <li>@item</li>

    }
</ol>
